<h1>
	This is the secret page!!!
</h1>

<p>
	That's the big secret
</p>

<img src="https://psychology.uq.edu.au/files/4950/HABS%20confiding%20secrets%20180322.jpg">

<li><a href="/register">Sign up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>