<% include ./partials/header %>

<div class="row">
	<div class="col-md-12">
		<h1>
			Change password
		</h1>
	
		<h2>
			Steps: 
		</h2>
		<p>
			1. Make sure that your less secure apps are activated see 
			<a href="https://myaccount.google.com/lesssecureapps">here</a>
		</p>
	
		<p>
			2 .Also make sure that you enable access to your account 
			<a href="https://accounts.google.com/b/0/displayunlockcaptcha">here</a>
		</p>
		
		<form action="/forgot" method="POST">
			<div class="form-group">
				<label for="email">3. Email account for changing password:</label>
				<input autofocus class="form-control" type="email" name="email" id="email" placeholder="jhon@doe.com">
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Reset password">
			</div>
				
		</form>
		
	</div>
</div>

<% include ./partials/footer %>